/* Css reset  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/* ..... Utility Classes .....  */
h1{
    font-size: 50px;
    font-weight: 700;
}
.margin-top{
    margin-top: 130px !important; 
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.container{
    width: 88%;
    margin: auto;
}
/* .... banner-topr section .....  */
.banner-top{
    background: linear-gradient(rgb(37 34 34 / 24%), rgb(2 2 2 / 37%)), url(../images/donation6.jpg);
    /* background-image: url(../images/donation6.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:20px;
    height: 98vh;
    text-align: center;
    color: #fff;

}
.banner-heading{
    font-size: 75px;
}
.banner-heading {
    margin-top: 155px;
}
.normal-text{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 0 26%;
    line-height: 1.6;
}
.donate-btn{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400;
    background-color: tomato;
    border-radius: 8px;
}



/* ............. donate today section ...........  */
.donate-today{
    text-align: center;
}
#donate-text{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 0 26%;
    line-height: 1.6;
    color: #707070a8;
}
.tk-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.tk-row .tk-item{
    font-size: 32px;
    margin-right: 20px;
    padding:40px 25px;
    background-color: #f9f9f9;
    border-radius: 7px;
    cursor: pointer;
}

.bg-color{
    background-color: #f99e8e6b !important;
    border: 2px solid #ff5a5a;
    border-radius: 7px;
    color: #ff5959;
}
.tk-amount input{
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #b3b3b3;
    font-size: 18px;
    padding: 10px 0;
}
::placeholder{
    color: #b3b3b3;
}
.tk-amount {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* ........... Our Donation Plan .............  */
.donation-plan{
    text-align: center;
}
#plan-text{
    color: #707070a8;
}
.card-wraper{
    display: flex;
    justify-content: center;

}
.cards{
    margin-right: 20px;
    padding: 40px 30px 70px 30px;
    width: 300px;
    height: 200px;
    text-align: left;
    border-radius: 7px;

}
.cards .img{
    text-align: left;

}
.cards p{
    color: #707070;
    font-size: 18px;
}
#food-card{
    background-color: #edf5f6;
}
#shelter-card{
    background-color: #ffeeee;
}
#education-card{
    background-color: #fff4d5;
}
.cards h3{
    color: #121212;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/* ..........Get Updates section ........  */
.get-my-updates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 120px;

}
.get-my-updates h2{
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}
.get-my-updates p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: #707070;
    margin-bottom: 40px;

}
.subscribe-box{
    width: 65%;
    background: #fff4d5;
    margin: 0 auto;
    padding: 80px 0;
}
.email-field{
    padding: 15px;
    width: 40%;
    font-size: 19px;
    outline:  none;
    border: none;
    border-radius: 6px;
    margin-right: -6px;
    color: #aa9f9f;
    background-color: #d9d9d9;
}
.subscribe-btn{
    width: 130px;
    padding-top: 18px;
    padding-bottom: 16px;
    background-color: tomato;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}